<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarefas</title>
</head>
<body>
    <h1>Proba</h1>
    <ul ><% tarefas.forEach(function(tarefa) { %>
        <li>
            <strong><%= tarefa.id %></strong>
            tarefa <%= tarefa.description %>, feita <%= tarefa.done %>
        </li>
    <% }); %>
    </ul>
</body>
</html>